@import 'nib'
@import 'rupture'
@import url('//fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400')

rupture.scale = 0 35.5em 48em 64em 80em
rupture.anti-overlap = -0.5px
rupture.scale-names = 'sm' 'md' 'lg' 'xl' 'hd'

$orange = #f8b133
$darkorange = #f88933

.sans
  font-family 'Source Sans Pro', sans-serif
.monospace
  font-family 'Inconsolata', monospace
  
.pure-g [class *='pure-u'],
.pure-g-r [class*="pure-u"]
  @extends .sans
  
_align = 'left', 'center', 'right'
for _a in _align
  .text-{ _a }
    text-align unquote(_a)

_spacer = 5, 10, 20, 30, 40, 50, 60, 80, 100
for _s in _spacer
  .spacer-{ _s }
    height ( _s * 1px )

html,
body
  height 100%
  @extends .sans
  font-weight 300
  
h1
  font-weight 200
h2,
h3
  font-weight 300
h4,
h5,
h6
  font-weight 400

strong
  font-weight 400

a
  color $darkorange
  
img
  display block
  margin 0 auto
  height auto
  
.padding
  padding 10px

.container
  margin 0 auto

nav
  .container
    width 960px
    max-width 100%
  a
    box-shadow none
    text-shadow none
    text-decoration none
    *
      display inline-block
      vertical-align middle
  img
    height 30px
    width auto
    margin 0

// -- terminal window from: https://codepen.io/simoami/pen/zstvo
.terminal-window
  text-align left
  width 600px
  height 360px
  border-radius 10px
  margin auto
  position relative
  header
    background #E0E8F0
    height 30px
    border-radius 8px 8px 0 0
    padding-left 10px
    .button
      width 12px
      height 12px
      margin 10px 4px 0 0
      display inline-block
      border-radius 8px
      &.green
        background #3BB662
      &.yellow
        background #E5C30F
      &.red
        background #E75448

  section.terminal
    @extends .monospace
    color white
    font-size 1em
    line-height 22px
    background #30353A
    padding 10px
    box-sizing border-box
    position absolute
    width 100%
    top 30px
    bottom 0
    overflow auto



#top
  background linear-gradient(top, $darkorange, $orange)
  color #fff
  height 90%
  position relative
  .container
    position absolute
    text-align center
    top 50%
    left 50%
    transform translate(-50%, -50%)
  img.logo
    display block
    height 70px
    width auto
    margin 0 auto

#preview,
#readme
  .container
    width 960px
    max-width 100%

#readme
  h1
    position relative
    color $darkorange
    &:before
      content '\039B'
      color rgba($darkorange, 0.7)
      font-size 0.6em
      position absolute
      left -40px
      bottom .25em
  h2
    position relative
    color $orange
    &:before
      content '\03BB'
      color rgba($orange, 0.7)
      font-size 0.6em
      position absolute
      left -30px
      bottom .25em
      
  blockquote
    border-left 4px solid #ccc
    color #777
    padding-left 20px
    margin 0
    
  p + h2,
  pre + h1
    margin-top 50px

  hr
    border none
    height 1px
    background #ccc
    margin-top 50px
    margin-bottom 50px
    
  img
    max-width 100%
    
  code
    @extends .monospace
    font-weight 400
    
+below('sm')
  .hide-mobile
    display none

  .terminal-window
    display none
    & + .spacer-50
      display none
  
  #top
    height auto
    .container
      position relative
      top auto
      left auto
      transform none
    img.logo
      height 50px
      width auto
    h1
      font-size 1.5em
      
  #readme
    a
      word-break break-all