extends _layout

block body
  #top
    .container
      .spacer-50
      img.logo(src='img/dawson-logo@2x-white.png' alt='dawson | a serverless framework for Node.js on AWS')
      h1 a serverless framework for Node.js on AWS
      .spacer-50
      .terminal-window
        header
          .button.green
          .button.yellow
          .button.red
        section.terminal
          .history
            | $ npm install -g dawson
            //-
              br
              | $ export AWS_ACCESS_KEY_ID=... AWS_SECRET_ACCESS_KEY=... AWS_REGION=...
            br
            | $ dawson deploy
      .spacer-20
      a.pure-button.pure-button-negative(href='docs.html')
        span View full documentation
      .spacer-50

  #preview
    .container
      .spacer-50
      .padding
        :markdown-it(breaks=true linkify=true)

          dawson is a [serverless](https://auth0.com/blog/what-is-serverless/) web framework for Node.js on AWS. dawson uses [AWS CloudFormation](https://aws.amazon.com/cloudformation/), [Amazon CloudFront](https://aws.amazon.com/cloudfront/), [Amazon API Gateway](https://aws.amazon.com/apigateway/) and  [AWS Lambda](https://aws.amazon.com/lambda/) to deploy the backend code and to manage the infrastructure for you. 

          ### Is dawson for me?
          👍 I'm building a single-page app/website with a backend  
          👍 I'm building an API   
          👍 I'm building a server-rendered app/website  

          The main goal of dawson is to be a zero-configuration yet fully extensible *[backend]* web framework for building web apps on AWS. You should be able to start using dawson without creating any configuration file and with only a basic knowledge of Amazon Web Services.

          #### [tl;dr show me the code!](docs.html)

    .spacer-50


  footer
    .container
      a(href='https://github.com/dawson-org/dawson-cli' target='_blank') View and contribute on <strong>github</strong>

  .spacer-50